// IMPORTAZIONI CSS DA VARIABILI.SCSS
@import 'variabili';

 //CSS DELLA PAGINA NAVBAR.PHP
body{
    margin: 0px;
}

hr{
    height: 1px;
    background-color: $bg_hr;
}

.navbar{
    background-color: $bg_grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-toggler {
    cursor: pointer;
    color: $bg_hr;
    font-size: 40px;
    display: none; /* di base nascosto su desktop */
    @media (max-width: $sm) {
          display: block;
          margin-right: 20px;
    }
}
.nav-toggle {
    display: none; /* checkbox nascosto sempre */
     @media (max-width: $sm) {
          display: none;
    }
}

  .nav-toggle:checked + .navbar-toggler + .navbar-menu {
         @media (max-width: $sm) {
          display: flex;
        }
    }

.navbar img{
    width: 130px;
    height: 130px;
       @media (max-width: $lg) {
    width: 100px;
    height: 100px;
  }
    @media (max-width: $sm) {
    width: 80px;
    height: 80px;
  }
}

.navbar ul {
    list-style: none;
    display: flex;
    background: $bg_grey;
    margin-right: 15px;
    @media (max-width: $lg) {
      margin-right: 10px;
  }
   @media (max-width: $sm) {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 50%;
        right: 0;
        background: white;
        padding: 1rem;
        display: none;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        margin-right: 0px;
    }
  }


.navbar li {
    margin: 0;
}

.navbar a {
    display: block;
    padding: 10px;
    color: $bg_hr;
    text-decoration: none;
    font-size: $size_a;
    font-family: $font;
    @media (max-width: $lg) {
      padding: 5px;
      font-size: $size_a_lg;
  }
    
}

.navbar a:hover {
    background: $bg_hover;
}

.navbar .active a {
    background: $bg_active;
}

.messaggio{
    width: 100%;
    background-color: $bg_grey;
    font-family: $font;
    font-size: $size_p;
    text-align: center;
       @media (max-width: $lg) {
    font-size: $size_p_lg;
  }
    @media (max-width: $sm) {
    font-size: $size_p_sm;
  }
}
