// IN QUESTA PAGINA CI SONO ELENCATE TUTTE LE VARIABILI PIU UTILIZZATE NEI VARI CSS DELLE PAGINE, CHE VERRANNO RICHIAMATE TRAMITE L'IMPORT NELLE SINGOLE PAGINE 

$font : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$bg_grey: #e0e0e0;
$bg_hr: #431A10;
$bg_hover: #a5c5a5;
$bg_active: #8EAE8E;
$size_a: 30px;
$size_h1: 50px;
$size_p: 25px;
$size_h3: 35px;

$lg: 1024px;
$size_h1_lg: 35px;
$size_a_lg: 18px;
$size_p_lg: 20px;
$size_h3_lg : 22px;


$sm: 600px;
$size_h1_sm: 25px;
$size_a_sm: 12px;
$size_p_sm: 15px;
$size_h3_sm : 18px;
